@import "tailwindcss";

@theme {
  /* Colores base */
  --color-background: #14110d;
  --color-accent-red: #b33a2e;
  --color-accent-gold: #c8a14b;

  /* Tipografía */
  --font-serif: "Fraunces", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  background-color: var(--color-background);
  color: #f0ebe3;
  font-family: var(--font-sans);
}
